<h2>Points in 5km from your location!</h2>

<ul>
  <% @coodinates_in_area.each do |point| %>
    <h3>Point</h3>

    <p>Latitude: <%= point.latitude %></p>
    <p>Longitude: <%= point.longitude %></p>
    <% if point.song.collect(&:url)[0] %>
      <p>Youtube: <%= link_to point.song.collect(&:url)[0], point.song.collect(&:url)[0] %></p>
    <% else %>
      <p> No Youtube URL </p>
    <% end %>
  
  <% end %>
</ul>

<%= link_to "Back to home", "/" %>
