<header class="title-container">
  <h1 class="center-align title">あなたの街の<br>ご当地ソングを<br>探そう</h1>
  <%= form_with model: @coordinate, class:"form-wrap col s12", url: :find, method: :get do |form| %>
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <i class="material-icons prefix">location_on</i>
        <%= form.text_field :coordinate%>
      </div>
    </div>
    <div class="row">
        <div class="submit-wrap col s8 offset-s2">
          <%= form.submit "ご当地ソングを探す", class: "waves-effect waves-light btn-large",style: "font-weight: bold;font-size: 20px;" %>
        </div>
    </div>
<% end %>
</header>
<script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        window.alert('Geolocation API対応ブラウザでアクセスしてください。');
    }

    function showPosition(position) {
        document.getElementById( "coordinate" ).value = position.coords.latitude + "," + position.coords.longitude;
    }
</script>