<header class="title-container">
  <h1 class="center-align title">あなたの街の<br>ご当地ソングを<br>探そう</h1>
  <%= form_with model: @coordinate, class:"form-wrap", url: :find, method: :get do |form| %>
    <%= form.text_field :latitude, type: "hidden" %>

    <%= form.text_field :longitude, type: "hidden" %>

    <div class="submit-wrap">
      <%= form.submit "ご当地ソングを探す", class: "waves-effect waves-light btn-large",style: "font-weight: bold;font-size: 20px;" %>
    </div>

  <% end %>
</header>


<script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        window.alert('Geolocation API対応ブラウザでアクセスしてください。');
    }

    function showPosition(position) {
        document.getElementById( "latitude" ).value = position.coords.latitude;
        document.getElementById( "longitude" ).value = position.coords.longitude;
    }
</script>