name: GitHub Actions
on: [pull_request]
jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.3
      - name: Rubocop
        uses: reviewdog/action-rubocop@v1
        with:
          rubocop_version: gemfile
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          fail_on_error: true
